*{
    margin:0;
    padding: 0;
}
h1{
   color:darkmagenta;
   text-align: center;
   margin-top: 10px; 
}
nav{
    padding-top: 10px;
    padding-bottom: 10px;
    background: #2a008b;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
p{
    color: #b00bb5;
}
nav img{
    width:80px;
    text-align: left; 
}
nav a{
    align-content: right;
}
nav a img{
    height: 30px;
    width: 30px;
}
.main-img{
    width: 60%;
    display: block;
    margin: auto;
}
nav a{
    font-size: 24px;
    color:#444;
}
.title{
    width: 50%;
    margin:auto;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    font-size: 18px;
}
h2{
    text-align: center;
    font-size: 32px;
    margin-top: 40px;
}
.services a{
    display: block;
    text-align: center;
    background: #444;
    width: 25%;
    margin: auto;
    margin-bottom: 20px;
    color: #000;
    padding-top:10px;
    padding-bottom: 10px;
    text-decoration: none;
    font-size: 20px;
    transition: 0.1s;
    box-shadow: 5px 5px 10px #999;
    border-radius:5px;
}
.services a:hover{
    box-shadow: 2px 2px 10px #666;
    transform:translateY(1px);
}